.shadow{
    -webkit-box-shadow: 9px 7px 0px 2px #3B4150; 
    box-shadow: 9px 7px 0px 2px #3B4150;
}

.tilt{
    position: relative;
    top:-10px;
    left:100px;
    transform: rotate(-5deg);
}


.swiper-button-prev ,
.swiper-button-next{
   color: #3B4150;
}
